/* Add any custom styles here if needed */

html, body {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
}


/* Example: Custom link colors */
/*
a {
  color: #0066cc;
}

a:hover {
  color: #003366;
}
*/
